<div class="sidebar-container" [ngClass]="{ collapsed: isCollapsed() }">
  <div class="sidebar-header">
    <a id="logo-mobile">PANEL</a>
    <a id="logo-full"> {{ !isCollapsed() ? 'PANEL' : 'P' }} </a>
    <button id="btn-cerrar" (click)="toggleSidebar()" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div class="sidebar-content">
    <ul class="sidebar-nav">
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="sucursales" routerLinkActive="active" class="nav-link">
          <mat-icon>store</mat-icon>
          <span class="nav-text">Sucursales</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="pedidos" routerLinkActive="active" class="nav-link">
          <mat-icon>shopping_cart</mat-icon>
          <span class="nav-text">Pedidos</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="promociones" routerLinkActive="active" class="nav-link">
          <mat-icon>local_offer</mat-icon>
          <span class="nav-text">Promociones</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="categorias" routerLinkActive="active" class="nav-link">
          <mat-icon>category</mat-icon>
          <span class="nav-text">Categorías</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a (click)="openSideBar()" routerLink="orden-categorias" routerLinkActive="active" class="nav-link">
          <mat-icon>drag_indicator</mat-icon>
          <span class="nav-text">Ordenar Categorías</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="productos" routerLinkActive="active" class="nav-link">
          <mat-icon>shopping_bag</mat-icon>
          <span class="nav-text">Productos</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a (click)="openSideBar()" routerLink="orden-productos" routerLinkActive="active" class="nav-link">
          <mat-icon>drag_indicator</mat-icon>
          <span class="nav-text">Ordenar Productos</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="clientes" routerLinkActive="active" class="nav-link">
          <mat-icon>people</mat-icon>
          <span class="nav-text">Clientes</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="usuarios" routerLinkActive="active" class="nav-link">
          <mat-icon>person</mat-icon>
          <span class="nav-text">Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="menu" routerLinkActive="active" class="nav-link">
          <mat-icon>list</mat-icon>
          <span class="nav-text">Menús</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="openSideBar()" routerLink="configuracion" routerLinkActive="active" class="nav-link">
          <mat-icon>settings</mat-icon>
          <span class="nav-text">Configuración</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-profile">
      <button class="btn-logout" [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
        <span class="profile-text">
          {{ user()?.username }}
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="logout()" mat-menu-item>Cerrar Sesión</button>
      </mat-menu>
    </div>
  </div>
</div>