<h2 mat-dialog-title>{{order.tNombreCliente}}</h2>
<mat-dialog-content>
  @if (order.tTipoDocumento) {
  <div class="row">
    <span class="row__key">Tipo de documento</span>
    <span class="row__value">{{order.tTipoDocumento}}</span>
  </div>
  }
  @if (order.tNroDocumento) {
  <div class="row">
    <span class="row__key">Nro. Documento</span>
    <span class="row__value">{{order.tNroDocumento}}</span>
  </div>
  }
  @if (order.tTelefono) {
  <div class="row">
    <span class="row__key">Teléfono</span>
    <span class="row__value">{{order.tTelefono}}</span>
  </div>
  }
  <div class="row">
    <span class="row__key">Email</span>
    <span class="row__value">{{order.tEmail}}</span>
  </div>
  @if (order.tDireccion) {
  <div class="row">
    <span class="row__key">Dirección</span>
    <span class="row__value">{{order.tDireccion}}</span>
  </div>
  }
  @if (order.tPersonaRecibir) {
  <div class="row">
    <span class="row__key">Va a recibir</span>
    <span class="row__value">{{order.tPersonaRecibir}}</span>
  </div>
  }
  @if (order.lFactura) {
    <div class="row">
      <span class="row__key">Factura</span>
      <span class="row__value">Si</span>
    </div>
    <div class="row">
      <span class="row__key">Ruc</span>
      <span class="row__value">{{order.tRuc}}</span>
    </div>
    <div class="row">
      <span class="row__key">Razón Social</span>
      <span class="row__value">{{order.tRazonSocial}}</span>
    </div>
    <div class="row">
      <span class="row__key">Dirección Fiscal</span>
      <span class="row__value">{{order.tDireccionFiscal}}</span>
    </div>
    }
  @if (order.tDireccionGoogle) {
  <div class="row">
    <span class="row__key">Dirección Google</span>
    <span class="row__value">{{order.tDireccionGoogle}}</span>
  </div>
  }
  @if (order.tLinkGoogleMaps) {
  <div class="row link">
    <span class="row__key">Enlace</span>
    <div>
      <button (click)="copy()" matTooltip="Copiar enlace de google maps">
        <mat-icon [cdkCopyToClipboard]="order.tLinkGoogleMaps">
          content_copy
        </mat-icon>
      </button>
      <a [href]="order.tLinkGoogleMaps" target="_blank" matTooltip="Abrir enlace de google maps">
        <mat-icon>
          open_in_new
        </mat-icon>
      </a>
    </div>
  </div>
  }
</mat-dialog-content>