<div class="categories">
  <div class="categories__header">
    <span class="title">CATEGORÍAS</span>
    <button (click)="onAddCategory()">
      <mat-icon>add</mat-icon>
      <span>Agregar</span>
    </button>
  </div>
  <div class="categories__content">
    <div class="main">
      <div class="main__buttons">
        <button class="btn" (click)="goToOrderCategoriesPage()">
          <mat-icon>drag_indicator</mat-icon>
          <span>Ordenar</span>
        </button>
      </div>
      <div class="main__grid">
        @for (category of categories(); track $index) {
        <div class="main__card">
          <app-category-card [category]="category" (edit)="onEditCategory($event)"
            (delete)="onDeleteCategory($event)"></app-category-card>
        </div>
        }
      </div>
    </div>
  </div>
</div>