@use './../../../styles/mixins' as m;

.menus {
  &__header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;

    .title {
      font-size: 2rem;
      display: block;
      color: var(--primary-color);
      font-weight: 700;
    }

    button {
      display: flex;
      align-items: center;
      background-color: var(--primary-color);
      color: var(--white-color);
      padding: 1rem;
      border-radius: .5rem;
      user-select: none;

      span {
        font-size: 2rem;
      }
    }
  }

  &__content {
    background-color: var(--background-content-color);
    display: flex;
    border-radius: 0 0 2rem 2rem;
    padding-bottom: 6rem;
    min-height: calc(100dvh - 18rem);

    @include m.laptop {
      min-height: calc(100dvh - 15rem);
    }
  }
}

.main {
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  height: fit-content;
  overflow: hidden;

  @include m.tablet {
    margin: 1rem;
  }

  @include m.laptop {
    margin: 2rem;
  }

  &__table {
    
    &__actions{
      display: flex;
      justify-content: space-between;

      &__button {
        height: 4rem;
        padding: 0 1.5rem;

        &--edit {
          color: #adadad;
        }

        &--delete {
          color: var(--red-color);
        }
      }
    }
  }

}