<h2 mat-dialog-title>Agregar una Zona</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="my-form">
    <mat-grid-list cols="12" rowHeight="60px" gutterSize="10px">
      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="tNombre" maxlength="100">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>Precio</mat-label>
          <input matInput type="number" formControlName="dPrecio">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <div class="polygon-controls">
    @if (showDrawPolygonButton) {
    <button mat-raised-button color="primary" (click)="startDrawingPolygon()">
      Dibujar Polígono
    </button>
    }
    @if (isPolygonDrawn) {
    <button mat-raised-button color="warn" (click)="deletePolygon()">
      Borrar Polígono
    </button>
    }

  </div>

  <google-map [center]="center()" width="100%" [zoom]="15" mapId="d8da5fa3f5db62fa " [options]="mapOptions">
    <map-advanced-marker [position]="center()" [options]="markerOptions" label="Alo"/>
    @for(polygon of polygons; track $index) {
      <map-polygon [paths]="polygon" [options]="polygonOptions"/>
    }
  </google-map>

</mat-dialog-content>
<mat-dialog-actions align="end" class="actions">
  <button class="btn-modal cancel" (click)="onCancel()">Cancelar</button>
  <button class="btn-modal add" (click)="onSubmit()">Agregar</button>
</mat-dialog-actions>