<h2 mat-dialog-title>Editar un Menú</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="my-form">
    <mat-grid-list cols="12" rowHeight="60px" gutterSize="10px">
      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="tNombre">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>Enlace</mat-label>
          <input matInput formControlName="tEnlace" placeholder="/">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>Fragmento</mat-label>
          <input matInput formControlName="tFragmento">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>¿El fragmento se repite?</mat-label>
          <mat-select formControlName="lFragmentoRepetido">
            <mat-option [value]="true">Si</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="colspan">
        <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
          <mat-label>Visible</mat-label>
          <mat-select formControlName="lVisible">
            <mat-option [value]="true">Si</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="actions">
  <button class="btn-modal cancel" (click)="onCancel()">Cancelar</button>
  <button class="btn-modal edit" (click)="onSubmit()">Editar</button>
</mat-dialog-actions>