<h2 mat-dialog-title>Pedido de {{order.tNombreCliente}}</h2>
<mat-dialog-content>
  <h3>¿Por qué razón se va a anular el pedido?</h3>
  <mat-form-field appearance="outline" style="width: 100%;">
    <textarea matInput #answer [(ngModel)]="reason" minlength="10" maxlength="255" rows="5" [readonly]="order.tEstado !== 'pendiente'"></textarea>
    <mat-hint align="end">{{answer.value.length}} / 255</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end" class="actions">
  <button class="btn-modal cancel" (click)="onCancel()">Cancelar</button>
  <button class="btn-modal add" (click)="onSubmit()">Agregar</button>
</mat-dialog-actions>