<div class="products">
  <div class="products__header">
    <span class="title">PRODUCTOS</span>
    <button (click)="onAddProduct()">
      <mat-icon>add</mat-icon>
      <span>Agregar</span>
    </button>
  </div>
  <div class="products__content">
    <div class="cateogories main">
      <span class="subtitle">Lista de Categorías</span>
      <div class="categories__grid">
        <div class="categories__grid__item" [class.active]="selectedCategory==='Todos'"
          (click)="changeCategory('Todos')">Todos</div>
        @for (category of categories(); track $index) {
        <div class="categories__grid__item" [class.active]="selectedCategory===category.tNombre"
          (click)="changeCategory(category.tNombre)">
          {{ category.tNombre | capitalize }}
        </div>
        }
        <div class="categories__grid__item" [class.active]="selectedCategory==='Adicionales'"
          (click)="changeCategory('Adicionales')">Adicionales</div>
      </div>
    </div>
    <div class="products-list main">
      <div class="main__buttons">
        <span class="subtitle">Lista de Productos</span>
        <button class="btn" (click)="goToSortProductsPage()">
          <mat-icon>drag_indicator</mat-icon>
          <span>Ordenar</span>
        </button>
      </div>
      <div class="products-list__grid">
        @for (product of products(); track $index) {
        <div class="products-list__grid__item">
          <app-product-card [product]="product" (addAdditional)="onAddAdditional($event)" (edit)="onEditProduct($event)"
            (delete)="onDeleteProduct($event)"></app-product-card>
        </div>
        }
      </div>
    </div>
  </div>
</div>