.product__card {
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: relative;

  &__img {
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
  }

  &__title {
    margin-top: 1rem;

    span {
      font-weight: 600;
      font-size: 1.6rem;
      display: inline-block;
      text-align: center;
    }
  }

  &__desc {
    margin: 0 1rem;

    span {
      font-size: 1.4rem;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      color: gray;
    }
  }

  &__price {
    width: 100%;

    span {
      margin: 0 1rem;
      display: block;
      text-align: right;
      font-weight: 600;
      font-size: 1.8rem;
      color: #2a505a;
    }
  }

  &__actions {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    &__button {
      border-radius: .5rem;
      width: 50px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;

      &--edit {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }

      &--delete {
        color: var(--white-color);
        background-color: var(--red-color);
      }
    }
  }
}