<div class="product__card">
  <div class="product__card__img">
    <img [src]="product.tImagenUrl" alt="{{product.tNombre}} img" loading="lazy">
  </div>
  <div class="product__card__content">
    <div class="product__card__title">
      <span>{{ product.tNombre | uppercase }}</span>
    </div>
    <div class="product__card__desc">
      <span>{{ product.tDescripcion }}</span>
    </div>
    <div class="product__card__price">
      <span>{{ product.dPrecio | currency: 'S/ ': 'symbol':'1.2' }}</span>
    </div>
    <div class="product__card__actions">
      @if (product.lAdicional === false) {
      <div class="product__card__actions__button product__card__actions__button--add" matTooltip="Agregar adicionales"
        (click)="onAddAdditional()">
        <mat-icon>add</mat-icon>
      </div>
      }
      <div class="product__card__actions__button product__card__actions__button--edit" matTooltip="Editar"
        (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </div>
      <div class="product__card__actions__button product__card__actions__button--delete" matTooltip="Eliminar"
        (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
  </div>
</div>