<div class="configuration container">
  <div class="configuration__header">
    <span class="title">CONFIGURACIÓN</span>
  </div>
  <div class="configuration__content">
    <div class="main">
      <span class="subtitle">General</span>
      <form [formGroup]="formGeneral" class="my-form">
        <mat-grid-list cols="10" rowHeight="60px" gutterSize="10px">
          <mat-grid-tile [colspan]="colspan">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>IGV (%)</mat-label>
              <input matInput type="number" formControlName="igv">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspan">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Recargo de Consumo (%)</mat-label>
              <input matInput type="number" formControlName="recargoConsumo">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="main__buttons" [class.isDisabled]="isDisabledGeneral">
        <button class="cancel" (click)="cancelGeneral()">
          Cancelar
        </button>
        <button class="btn" (click)="toggleBtnGeneral()">
          @if (isDisabledGeneral) {
          Editar
          }@else {
          Guardar
          }
        </button>
      </div>
    </div>

    <div class="main">
      <span class="subtitle">Imagen de Categoría</span>
      <form [formGroup]="formCategoria" class="my-form">
        <mat-grid-list cols="12" rowHeight="60px" gutterSize="10px">
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Relación de aspecto</mat-label>
              <mat-select formControlName="aspectRatio">
                @for (ar of aspectRatios; track $index) {
                <mat-option [value]="ar">{{ar}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Ancho (px)</mat-label>
              <input matInput type="number" formControlName="maxWidth">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Alto (px)</mat-label>
              <input matInput type="number" formControlName="maxHeight">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="main__buttons" [class.isDisabled]="isDisabledCategoria">
        <button class="cancel" (click)="cancelCategoria()">
          Cancelar
        </button>
        <button class="btn" (click)="toggleBtnCategoria()">
          @if (isDisabledCategoria) {
          Editar
          }@else {
          Guardar
          }
        </button>
      </div>
    </div>

    <div class="main">
      <span class="subtitle">Imagen de Producto</span>
      <form [formGroup]="formProducto" class="my-form">
        <mat-grid-list cols="12" rowHeight="60px" gutterSize="10px">
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Relación de aspecto</mat-label>
              <mat-select formControlName="aspectRatio">
                @for (ar of aspectRatios; track $index) {
                <mat-option [value]="ar">{{ar}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Ancho (px)</mat-label>
              <input matInput type="number" formControlName="maxWidth">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Alto (px)</mat-label>
              <input matInput type="number" formControlName="maxHeight">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="main__buttons" [class.isDisabled]="isDisabledProducto">
        <button class="cancel" (click)="cancelProducto()">
          Cancelar
        </button>
        <button class="btn" (click)="toggleBtnProducto()">
          @if (isDisabledProducto) {
          Editar
          }@else {
          Guardar
          }
        </button>
      </div>
    </div>

    <div class="main">
      <span class="subtitle">Imagen de Sucursal</span>
      <form [formGroup]="formSucursal" class="my-form">
        <mat-grid-list cols="12" rowHeight="60px" gutterSize="10px">
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Relación de aspecto</mat-label>
              <mat-select formControlName="aspectRatio">
                @for (ar of aspectRatios; track $index) {
                <mat-option [value]="ar">{{ar}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Ancho (px)</mat-label>
              <input matInput type="number" formControlName="maxWidth">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspanImg">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Alto (px)</mat-label>
              <input matInput type="number" formControlName="maxHeight">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="main__buttons" [class.isDisabled]="isDisabledSucursal">
        <button class="cancel" (click)="cancelSucursal()">
          Cancelar
        </button>
        <button class="btn" (click)="toggleBtnSucursal()">
          @if (isDisabledSucursal) {
          Editar
          }@else {
          Guardar
          }
        </button>
      </div>
    </div>
  </div>
</div>