<div class="configuration container">
  <div class="configuration__header">
    <span class="title">CONFIGURACIÓN</span>
  </div>
  <div class="configuration__content">
    <div class="general main">
      <span class="subtitle">General</span>
      <form [formGroup]="form" class="my-form">
        <mat-grid-list cols="10" rowHeight="60px" gutterSize="10px">
          <mat-grid-tile [colspan]="colspan">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50" >
              <mat-label>% IGV</mat-label>
              <input matInput [disabled]="isDisabled" formControlName="igv">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="colspan">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>% Recargo de Consumo</mat-label>
              <input matInput formControlName="recargoConsumo">
            </mat-form-field>
          </mat-grid-tile>
          <!-- <mat-grid-tile [colspan]="colspan">
            <mat-form-field appearance="outline" style="width: 100%;" class="h-50">
              <mat-label>Sincronización con Fast</mat-label>
              <mat-select formControlName="lFast">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile> -->
        </mat-grid-list>
      </form>
      <button class="btn" [class.isDisabled]="isDisabled" (click)="toggleBtn()">
        @if (isDisabled) {
          Editar
        }@else {
          Guardar
        }
      </button>
    </div>

    <div class="img main">
      <span class="subtitle">Imágenes</span>
      @for (ci of configuration.configImagenes; track $index) {
      <p>
        Imagen de {{ ci.tTipoImagen }} - Tamaño: {{ ci.maxWidth }}x{{ ci.maxHeight }} px y Relación de aspecto: {{
        ci.aspectRatioWidth }}x{{ ci.aspectRatioHeight }}
      </p>
      }
    </div>
  </div>
</div>