<div class="categories">
  <div class="categories__header">
    <span class="title">ORDENAR CATEGORÍAS</span>
  </div>
  <div class="categories__content">
    <div class="main">
      <div cdkDropList cdkDropListOrientation="mixed" class="example-list" (cdkDropListDropped)="drop($event)">
        @for (category of categories(); track $index) {
        <div class="example-box" cdkDrag>
          {{category.tNombre | uppercase}}
        </div>
        }
      </div>
      <div class="main__button">
        <button class="main__button--back" (click)="goToPageBack()">
          <mat-icon>arrow_back</mat-icon>
          <span>Regresar</span>
        </button>
        <button class="main__button--save" (click)="onSaveChanges()">
          <mat-icon>save</mat-icon>
          <span>Guardar Cambios</span>
        </button>
      </div>
    </div>
  </div>
</div>